<%= render "/layouts/navbar" %>
<footer>
<h2>Name</h2>
<%= form_with(model: @board, local: true) do |f| %>
<div class="field">
  <% f.label :name %>
  <%= f.text_field :name, required: true %>
</div>
<%= f.submit %>


  <% end %>

  </footer>
