@import "semantic-ui";



body {
  background: fixed center;
  background-image: url("lavender.jpg");
  background-repeat: no-repeat;
}

header {
  margin-top: 150px;
  text-align: justify;
  margin-left: 100px;
}

footer {
  margin-top: 150px;
  text-align: center;
}

h2 {
  color: violet;
}