<nav>
<br />


<button class="ui huge inverted violet button"><%= link_to "My Boards", boards_path %></button>
<button class="ui huge inverted violet button"><%= link_to "New", new_board_path %></button>
<button class="ui huge right floated inverted violet button">
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %></button>
<br />
<hr>

</nav>

